@model Food

<div id="display-details" class="modal fade">
   <div class="modal-dialog">
       <div class="modal-contetnt">
           <div class="modal-header">
               <div class="modal-title text-center">
                   <h4>@Model.Name</h4>
               </div>
           </div>
       </div>
   </div>
</div>